@import "css/bootstrap.custom.css";
@import "css/fonts.css";
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bowlby+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Aclonica&family=Ramaraja&display=swap');
* {
    margin: 0;
    padding: 0;
}

::-webkit-scrollbar {
    background: #a5a5a5;
    display: block;
    width: 8px;
}

a:visited,
a:active {
    text-decoration: none;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: #636363;
    border-right: none;
    border-left: none;
}

::-webkit-scrollbar-track-piece:end {
    background: transparent;
    margin-bottom: 10px;
}

::-webkit-scrollbar-track-piece:start {
    background: transparent;
    margin-top: 10px;
}


/* ----Start Loading Settings --- */

.wrapper {
    margin: auto;
    margin-top: 15%;
}


/* ----End Loading Settings --- */


/*  #f3f2f2 */

html,
body {
    position: relative;
    width: 100%;
    height: 100%;
    font-family: 'vazir', sans-serif;
    background: #f3f2f2;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
    margin: 0;
    box-sizing: border-box;
}

.nav-item {
    padding: 0 1px;
    font-size: 20px;
}

header {
    position: fixed;
    right: 0;
    left: 0;
    height: 65px;
    z-index: 10000;
    background-color: white;
}

.brand-icon {
    width: 45px;
    height: 45px;
    margin-top: 10px;
    margin-right: 0;
}

.navbar {
    background: white;
    height: 60px;
}

.nav-custome-bottom {
    border-bottom: 1px solid rgb(216, 215, 215);
}

.nav-custome-top {
    border-top: 1px solid rgb(216, 215, 215);
}

.custome-shadow-navbar {
    box-shadow: 0 0 10px rgb(196, 196, 196);
}

.brand-icon-custome,
.brand-icon-custome:hover {
    text-decoration: none;
    font-size: 17px;
    direction: rtl;
    color: #475159;
    font-family: 'vazir', serif;
    font-weight: bold;
}

.menu-item {
    font-size: 13px !important;
    font-family: vazir;
    white-space: nowrap;
    text-align: center;
    cursor: pointer;
}

.margin-logo {
    margin-top: 0px !important;
}

.nav-logo {
    font-size: 21.5px !important;
}

@media(max-width:768px) {
    .margin-logo {
        margin-top: 6px !important;
    }
}

.menu-item-logo {
    position: absolute;
    font-size: 13px;
    font-weight: bold;
    top: 34px;
    right: 5px;
    font-family: vazir;
    white-space: nowrap;
    text-align: center;
    cursor: pointer;
}

@media(min-width:500px) {
    .col-custom {
        max-width: 300px !important;
    }
}

@media(min-width:768px) {
    .col-custom {
        max-width: 700px !important;
    }
}

@media(min-width:850px) {
    .col-custom .menu-main-element .col-2 {
        max-width: 75px !important;
    }
}

.menu-icon {
    font-size: 20px;
    cursor: pointer;
    position: relative;
}

.menu-item-link-color {
    color: #444343;
    transition: all 0.3s;
}

.menu-item-link-color:hover {
    color: #646464;
}

.col-12 .row .col-1 {
    width: 50px;
}


/*   */

.modal.left .modal-dialog {
    position: fixed;
    right: 0;
    margin: auto;
    width: 320px;
    height: 100%;
    -webkit-transform: translate3d(0%, 0, 0);
    -ms-transform: translate3d(0%, 0, 0);
    -o-transform: translate3d(0%, 0, 0);
    transform: translate3d(0%, 0, 0);
}

.modal.left .modal-content {
    height: 100%;
    overflow-y: auto;
}

.modal.right .modal-body {
    padding: 15px 15px 80px;
}

.modal.right.fade .modal-dialog {
    left: -320px;
    -webkit-transition: opacity 0.3s linear, left 0.3s ease-out;
    -moz-transition: opacity 0.3s linear, left 0.3s ease-out;
    -o-transition: opacity 0.3s linear, left 0.3s ease-out;
    transition: opacity 0.3s linear, left 0.3s ease-out;
}

.modal.right.fade.show .modal-dialog {
    right: 0;
}


/* ----- MODAL STYLE ----- */

.modal-content {
    border-radius: 0;
    border: none;
}

.modal-header {
    border-bottom-color: #eeeeee;
    background-color: #fafafa;
}


/* ----- v CAN BE DELETED v ----- */

@media (max-width:767px) {
    .brand-icon-custome,
    .brand-icon-custome:hover {
        text-decoration: none;
        display: none;
        font-family: 'Bowlby One', cursive;
        margin-top: 0.5%;
        float: left;
    }
}

.brand-text {
    padding: 39% 0 !important;
}

@media (max-width:992px) {
    .brand-text {
        position: absolute;
        left: 15%;
        color: black;
    }
    .text-header-custom h1 {
        font-size: 60px;
    }
}

@media(max-width:1225px) {
    .brand-icon {
        margin: auto;
    }
}

.my-icon {
    border-radius: 50%;
    color: black;
    transition: all 0.5s;
    height: auto;
    padding: 1px;
}

.my-icon:hover {
    color: white;
    background: rgb(228, 144, 44);
    background: linear-gradient(90deg, rgba(228, 144, 44, 1) 50%, rgba(237, 226, 226, 1) 50%, rgba(71, 161, 217, 1) 51%);
    box-shadow: 0 0 20px gray;
}

.card {
    border-radius: 10px;
    transition: all 0.5s;
    margin: 20px 10px 30px 10px;
    opacity: 0.89;
    border: 1px solid thistle;
}

.card:hover {
    transform: scale(1.09, 1.09);
    box-shadow: 0 0 10px gray;
    opacity: 1;
}

.picture-custom {
    border-radius: 15px;
    box-shadow: 0 0 10px gray;
    cursor: pointer;
    transition: all 0.35s;
}

.picture-custom:hover {
    transform: scale(1.1, 1.1);
    filter: blur(3px);
}

.loading-snipper {
    margin-top: 10px;
    font-weight: bold;
    font-size: 30px;
    color: green;
    direction: rtl;
    text-align: center;
}


/******* Inolinx Article Pin Up site Under Navbar ******/

@media(max-width:768px) {
    .pin-parent {
        margin-top: -1px;
    }
    .sign-parent {
        margin-top: -1px;
    }
}

@media(min-width:768px) {
    .pin-parent {
        margin-top: 20px;
    }
    .sign-parent {
        margin-top: 20px;
    }
}

@media(min-width:1024px) {
    .pin-parent {
        margin-top: 50px;
    }
    .sign-parent {
        margin-top: 30px;
    }
}

.pin-article-main article {
    position: relative;
    overflow: hidden;
    height: 33vh;
    border-radius: 7px;
}

.pin-article-main article .image-pin {
    width: 100%;
    height: 100%;
    cursor: pointer;
    border-radius: 7px;
    position: absolute;
    left: 0;
    transition: all 0.4s;
}

.pin-article-main article:hover .image-pin {
    filter: brightness(35%);
    transform: scale(1.2, 1.2);
}

.pin-article-main article:hover h5 {
    color: red;
}

.content-pin {
    position: absolute;
    bottom: 18%;
    left: 0;
    background-color: #161616;
    box-shadow: 0 0 50px 70px #161616;
    padding-bottom: 10px;
}

a,
a:hover {
    text-decoration: none;
}

.content-pin h5 {
    position: absolute;
    line-height: 30px;
    color: blanchedalmond;
    transition: all 0.4s;
    text-align: right;
    bottom: 20%;
    right: 4%;
}

.content-pin:hover h5 {
    color: red;
}

.mag-img {
    position: absolute;
    z-index: 1;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    bottom: 13px;
    right: 13px;
    transition: all 0.2s;
}

.mag-img img {
    width: 100%;
    height: 100%;
}

.mag-img:hover {
    opacity: 0.5;
}

.author-time-pin {
    position: absolute;
    z-index: 3;
    width: 80%;
    height: 30px;
    right: 50px;
    line-height: 32px;
    bottom: 10px;
    direction: rtl;
    color: white;
    font-size: 13px;
}

.author-show-box {
    border-top: 1px solid rgb(216, 215, 215);
}

.first-article-main {
    position: relative;
    overflow: hidden;
    height: 55vh;
    border-radius: 7px;
    overflow: hidden;
}

.image-pin-top {
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
    transition: all 0.4s;
}

.image-pin-top:hover {
    transform: scale(1.2, 1.2);
    filter: brightness(35%);
}

.first-article-main:hover h5 {
    color: red;
}

.content-pin-top {
    position: absolute;
    bottom: 14%;
    left: 0;
    background-color: #161616;
    box-shadow: 0 0 50px 70px #161616;
    padding-bottom: 10px;
}

.content-pin-top h5 {
    position: absolute;
    line-height: 30px;
    color: blanchedalmond;
    transition: all 0.4s;
    text-align: right;
    bottom: 20%;
    right: 3.1%;
    font-size: 24px;
}

.content-pin-top:hover h5 {
    color: red;
}

.mag-img-top {
    position: absolute;
    z-index: 1;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    bottom: 15px;
    right: 15px;
    transition: all 0.2s;
}

.mag-img-top img {
    width: 100%;
    height: 100%;
}

.mag-img-top:hover {
    opacity: 0.5;
}

.author-time-pin-top {
    position: absolute;
    z-index: 3;
    width: 80%;
    height: 30px;
    right: 55px;
    line-height: 32px;
    bottom: 13px;
    direction: rtl;
    color: white;
    font-size: 13px;
}

.shadow-radius-section {
    border-radius: 7px;
    border: 1.5px solid #b5b5b578;
    background-color: #fff;
}

.shadow-section {
    transition: all 0.5s;
}

.main-article {
    direction: rtl;
    margin-right: 0;
    background-color: #f3f2f2;
}

.shadow-section:hover {
    box-shadow: 0 0 20px 1px #d6d1d1;
}

.pin-article-height {
    height: 260px !important;
}

@media(max-width:375px) {
    .first-article-main {
        height: 42vh;
    }
    .content-pin-top h5 {
        font-size: 16px !important;
    }
    .pin-article-main article {
        height: 42vh !important;
    }
    .content-pin h5 {
        font-size: 16px !important;
    }
}

@media(min-width:1300px) {
    .first-article-main {
        height: 300px;
    }
    .content-pin-top h5 {
        font-size: 16px !important;
    }
    .pin-article-main article {
        height: 180px !important;
    }
    .content-pin h5 {
        font-size: 16px !important;
    }
}

@media(max-width:1200px) {
    .pin-article-main article {
        height: 60vh;
    }
    .content-pin-top h5 {
        font-size: 1.25rem;
    }
    .content-pin {
        position: absolute;
        bottom: 13%;
        left: 0;
        background-color: #161616;
        box-shadow: 0 0 50px 70px #161616;
        padding-bottom: 10px;
    }
}


/* start post article */

.cu-image {
    width: 55px;
    height: 55px;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.4s;
    overflow: hidden;
    border: 2px solid #b5b5b578;
}

.cu-image-com {
    width: 55px;
    height: 55px;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.4s;
    overflow: hidden;
    border: 1.5px solid #b5b5b578;
}

.cu-intro h6 a {
    font-weight: bold;
    margin-top: 2px;
    font-size: 14px;
    color: #303030;
}

.show-time-custome {
    color: gray;
    font-size: 13px;
}

.title-post {
    background-color: #e2e2e2;
    font-size: 18px;
    font-weight: bold;
    line-height: 30px;
}

.title-post a {
    color: #292B2C;
}

.visit-btn {
    width: 5%;
}

.vm-navbar .navbar {
    border: none !important;
    padding: 0 !important;
    margin: 0 !important;
    display: block;
    height: auto;
}

.report.navbar {
    border: none !important;
    background: transparent !important;
    display: block;
    height: auto;
    color: black;
    padding-top: 0;
}

.report .dropdown-menu {
    top: 40% !important;
}

.padding-button {
    margin-top: -5px;
}

.icon-size {
    font-size: 13px;
}

.icon-size-scroll {
    font-size: 12px
}

.title-post-link:link {
    text-decoration: none;
}

.post-text {
    text-align: justify;
    direction: rtl;
    font-weight: normal;
    font-size: 13.5px;
    line-height: 25px;
    word-spacing: -1px;
}

.personal-img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid #b5b5b578;
}

.personal-name {
    font-size: 12px;
    color: rgb(49, 49, 49);
    display: inline-block;
}

.a-clicked:focus,
.a-clicked:active,
.a-clicked:visited {
    text-decoration: none;
}

.ellipsis-menu {
    direction: rtl;
    width: 150px;
    border-radius: 5px;
    border: solid 1px #b5b5b578;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.19);
}

.logo-tab-menu {
    direction: rtl !important;
    text-align: right;
    width: 264px;
    border-radius: 6px;
    border: solid 1px #b5b5b578;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.19);
}

.logo-tab-menu.dropdown-menu {
    top: 176%;
    left: -100%;
    margin-left: 5px !important;
}

.menu-logo-dropdown-tab {
    max-height: 450px;
    overflow-x: hidden;
    overflow-y: auto;
}

@media(max-height:150px) {
    .menu-logo-dropdown-tab {
        max-height: 90px;
        overflow-x: hidden;
        overflow-y: auto;
        margin-bottom: 100px !important;
    }
}

@media(min-height:150px) {
    .menu-logo-dropdown-tab {
        top: 175% !important;
        max-height: 200px;
        overflow-x: hidden;
        overflow-y: auto;
    }
}

@media(min-height:400px) {
    .menu-logo-dropdown-tab {
        top: 175% !important;
        max-height: 340px;
        overflow-x: hidden;
        overflow-y: auto;
    }
}

@media(min-height:450px) {
    .menu-logo-dropdown-tab {
        top: 176% !important;
        max-height: auto !important;
        overflow-x: hidden;
        overflow-y: auto;
    }
}

.border-custom-view-profile {
    border: 2px solid #0278bd;
    transition: all 0s;
    color: #0278bd;
    font-size: 16px;
    font-weight: bold;
}

.border-custom-view-profile:hover {
    border: 3px solid #006199;
    color: #006199;
}

.ellipsis-menu li {
    text-align: right;
    margin-right: 0px;
    height: 30px;
}

.ellipsis-menu li a {
    padding-right: 10px;
    text-decoration: none;
    color: black;
    font-size: 13px;
}

.view-count {
    font-size: 12px;
    color: rgb(49, 49, 49);
    display: inline-block;
    padding-top: 2px;
}

.company-img {}

.post-content {
    position: absolute;
    top: 150px;
}

.main-post-div {
    position: absolute;
    top: 150px;
}

.dream-job-image {
    height: 230px;
}

.header-image-main {
    position: relative;
}

.tab-header-main {
    border-top: 1px solid rgb(209, 209, 209);
    font-size: 16px;
}

.border-active-tab-item {
    border-bottom: 2px solid green;
    font-weight: bold;
}

.text-color-tab {
    color: rgb(133, 133, 133);
    transition: all 0.2s;
    font-weight: bold;
}

.text-color-tab:hover {
    color: black;
}

.header-logo-image {
    position: absolute;
    width: 100px;
    height: 100px;
    z-index: 2;
    top: -55px;
    right: 25px;
    border: 2px solid rgb(204 203 203);
}

.header-logo-image-person {
    position: absolute;
    width: 145px;
    height: 145px;
    z-index: 2;
    top: -100px;
    right: 30px;
    border: 2px solid rgb(204 203 203);
}

.header-logo-image-person-sidebar {
    position: absolute;
    width: 70px;
    height: 70px;
    z-index: 2;
    top: -40px;
    right: 0%;
    left: 33%;
    border: 2px solid rgb(204 203 203);
}

@media(max-width:800px) {
    .header-logo-image-person-sidebar {
        position: absolute;
        width: 70px;
        height: 70px;
        z-index: 2;
        top: -40px;
        right: 0%;
        left: 35%;
        border: 2px solid rgb(204 203 203);
    }
}

@media(max-width:992px) {
    .header-logo-image-person-sidebar {
        position: absolute;
        width: 70px;
        height: 70px;
        z-index: 2;
        top: -40px;
        right: 0%;
        left: 35%;
        border: 2px solid rgb(204 203 203);
    }
}

@media(min-width:992px) {
    .header-logo-image-person-sidebar {
        position: absolute;
        width: 70px;
        height: 70px;
        z-index: 2;
        top: -40px;
        right: 0%;
        left: 32%;
        border: 2px solid rgb(204 203 203);
    }
}

.border-radius {
    border-radius: 50%;
}

.sticky-top-custom {
    position: -webkit-sticky;
    position: sticky;
    top: 80px;
    z-index: 100
}

.sticky-top-custom-scroll {
    position: -webkit-sticky;
    position: sticky;
    top: 140px;
    z-index: 1030
}

.btn-mw {
    background-color: #0080ff;
    color: blanchedalmond;
    font-size: 100%;
    width: auto;
    height: 30px;
    line-height: 0px;
}

.btn-mw-scroll {
    background-color: #0080ff;
    color: blanchedalmond;
    font-size: 14px;
    width: auto;
    height: 30px;
    line-height: 0px;
}

.btn-mw-profile {
    background-color: #ff9d2e;
    color: blanchedalmond;
    font-size: 100%;
    width: auto;
    height: 30px;
    line-height: 0px;
}

.btn-mw-scroll-profile {
    background-color: #ff9d2e;
    color: blanchedalmond;
    font-size: 14px;
    width: auto;
    height: 30px;
    line-height: 0px;
}

.pt-custome-more-btn {
    padding-top: 4px;
}

@media(max-width:320px) {
    .btn-mw-profile .navbar {
        max-width: 100% !important;
    }
    .btn-mw {
        background-color: #0080ff;
        color: blanchedalmond;
        font-size: 100%;
        width: 100%;
        height: 30px;
        line-height: 0px;
    }
    .btn-mw-profile {
        background-color: #ff9d2e;
        color: blanchedalmond;
        font-size: 100%;
        width: 100% !important;
        height: 30px;
        line-height: 0px;
    }
    .visit-btn {
        width: 100%;
        margin: 8px 4% !important;
    }
    .vm-navbar {
        padding: 0 !important;
        margin: 0 !important;
    }
}

.banner {
    border-radius: 7px 7px 0 0;
    padding-right: 1px !important;
    overflow: hidden;
}

.header-image {
    width: 820px;
    height: 135px;
    border-radius: 7px 7px 0 0;
}

.header-image-person {
    width: 820px;
    height: 190px;
    border-radius: 7px 7px 0 0;
}

.header-image-person-sidebar {
    width: 100%;
    height: 80px;
    border-radius: 7px 7px 0 0;
}

.header-detail {
    direction: rtl;
    margin: 55px 50px 0px -13px;
}

.text-bold {
    font-weight: bold;
}

.text-logo-scroll {
    font-weight: bold;
    font-size: 20px;
}

.text-logo-scroll-profile {
    font-weight: bold;
    font-size: 17px;
}

.explain-about-page {
    line-height: 23px;
    text-align: justify;
    word-spacing: -1.5px;
}

.explain-about-page-sidebar {
    line-height: 23px;
    color: #475159;
    font-size: 13px;
    text-align: center;
    word-spacing: -1.5px;
}

.explain-about-page-scroll {
    line-height: 10px;
    font-size: 11px;
    text-align: justify;
    word-spacing: -1.5px;
    font-weight: normal;
}

.font {
    font-family: vazir;
}

@media(max-width:425px) {
    .banner {
        border-radius: 7px 7px 0 0;
        padding-right: 0px !important;
        overflow: hidden;
    }
    .header-image-person {
        width: 100%;
        height: 95px;
        border-radius: 7px 7px 0 0;
    }
    .header-logo-image-person {
        position: absolute;
        width: 22%;
        height: auto;
        z-index: 2;
        top: -42px;
        right: 30px;
        border: 2px solid rgb(204 203 203);
    }
    .header-image {
        width: 100%;
        height: 95px;
        border-radius: 7px 7px 0 0;
    }
    .header-logo-image {
        position: absolute;
        width: 22%;
        height: auto;
        z-index: 2;
        top: -42px;
        right: 30px;
        border: 2px solid rgb(204 203 203);
    }
    .header-detail {
        direction: rtl;
        margin: 12% 50px 0px -13px;
    }
    .text-font-size {
        font-size: 18px;
    }
}

@media(min-width:425px) {
    .banner {
        border-radius: 7px 7px 0 0;
        padding-right: 0px !important;
        overflow: hidden;
    }
    .header-image-person {
        width: 100%;
        height: 100%;
        border-radius: 7px 7px 0 0;
    }
    .header-logo-image-person {
        position: absolute;
        width: 22%;
        height: auto;
        z-index: 2;
        top: -42px;
        right: 30px;
        border: 2px solid rgb(204 203 203);
    }
    .header-detail {
        direction: rtl;
        margin: 12% 50px 0px -13px;
    }
}

@media(min-width:425px) {
    .banner {
        border-radius: 7px 7px 0 0;
        padding-right: 0px !important;
        overflow: hidden;
    }
    .header-image-person {
        width: 100%;
        height: 120px;
        border-radius: 7px 7px 0 0;
    }
    .header-logo-image-person {
        position: absolute;
        width: 100px;
        height: auto;
        z-index: 2;
        top: -60px;
        right: 30px;
        border: 2px solid rgb(204 203 203);
    }
    .header-detail {
        direction: rtl;
        margin: 55px 50px 0px -13px;
    }
}

@media(min-width:1024px) {
    .banner {
        border-radius: 7px 7px 0 0;
        padding-right: 0px !important;
        overflow: hidden;
    }
    .header-image-person {
        width: 100%;
        height: 150px;
        border-radius: 7px 7px 0 0;
    }
    .header-logo-image-person {
        position: absolute;
        width: 100px;
        height: auto;
        z-index: 2;
        top: -60px;
        right: 30px;
        border: 2px solid rgb(204 203 203);
    }
    .header-detail {
        direction: rtl;
        margin: 55px 50px 0px -13px;
    }
}

.font-family {
    font-family: vazir !important;
}

.coment-for-showdetail {
    font-size: 12px;
    font-weight: bold;
    color: #475159;
}

.read-more-custom {
    color: #000;
    font-size: 16px;
    font-weight: bold;
}

#more,
#read-more,
.hide-more,
.read-more {
    display: none;
    font-family: vazir;
}

.show-more {
    display: inline;
    font-family: vazir;
}

@media(max-width:1800px) {
    .cu-intro {
        margin-right: 2%;
    }
}

@media(min-width:1440px) {
    .responsive-imagePost-height {
        height: 373.7px;
    }
}


/* start post article */

.scroll-div {
    position: fixed;
    top: 65px!important;
    z-index: 2;
}

.direction {
    direction: rtl;
}

.logo-cu-scroll {
    border: 1px solid rgb(141, 141, 141);
    width: 35px;
    height: 35px;
}

.logo-cu-scroll-profile {
    border: 1px solid rgb(141, 141, 141);
    width: 35px;
    height: 35px;
    border-radius: 50%;
}

.logo-cu-nav {
    border: 1px solid rgb(141, 141, 141);
    width: 25px;
    height: 25px;
    border-radius: 50%;
}

.font-size-custom {
    font-size: 13px;
    color: #313131;
}

.font-tab-nav-account,
.font-tab-nav-account:hover {
    font-size: 15px;
    color: #858585;
    margin-right: 1px;
}

.logo-cu-nav-tab {
    border: 1px solid rgb(141, 141, 141);
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.scroll-main-height {
    height: 42px;
}

.nav-item-scroll {
    padding: 0 15px 0 15px;
}

.word-space {
    word-spacing: -1.8px;
}

.nav-link-scroll {
    color: #757575;
    font-weight: bold;
    line-height: -10px;
}

.nav-link-scroll:hover {
    color: #2c2c2c;
    font-weight: bold;
}

.nav-link-scroll:link {
    color: #2c2c2c;
    font-weight: bold;
    text-decoration: none;
}

.nav-link-scroll.active {
    color: #407c00;
    border-bottom: 2px solid #407c00;
}

.nav-link-scroll-click {
    color: black;
}

#accordion5 .panel {
    border: none;
    border-radius: 0;
    box-shadow: none;
    margin: 0 0 0 0;
}

.modal-custome {}

.category-icon-modal {
    transform: rotate(180deg);
}

.category-fixed-icon-modal {
    position: fixed;
    top: 50%;
    right: 0.2%;
    color: #5c5c5c;
    border: 0.5px solid #9c9c9c;
    background-color: rgb(173, 173, 173);
    border-radius: 3px;
    padding: 3px;
    padding-right: 4px;
}

.category_button {
    display: block;
    width: 0%;
    margin-right: 30px;
    background: #ff9d2e;
    border-radius: 5px;
    font-size: 15px;
    font-weight: 400;
    color: #fff;
    position: relative;
    padding: 2px;
    text-decoration: none;
}

.category_button-non {
    display: block;
    width: 10%;
    margin-right: 30px;
    background: #ff9d2e;
    border-radius: 5px;
    font-size: 15px;
    font-weight: 400;
    color: #fff;
    position: relative;
    padding: 2px;
    text-decoration: none;
}

.category_button.collapsed {
    background: #fff;
    color: #bbb;
    width: 80%;
}

.category_button-non:before {
    font-weight: 900;
    width: 20px;
    height: 20px;
    line-height: 20px;
    border-radius: 50%;
    font-size: 20px;
    color: #ff9d2e;
    text-align: center;
    position: absolute;
    top: 0px;
    right: -25px;
    z-index: 1;
    transition: all 0.3s ease 0s;
}

.category_button:before,
.category_button.collapsed:before {
    content: "\f068";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    width: 20px;
    height: 20px;
    line-height: 20px;
    border-radius: 50%;
    background: #fff;
    font-size: 12px;
    color: #ff9d2e;
    text-align: center;
    border: 1px solid #ff9d2e;
    position: absolute;
    top: 0px;
    right: -25px;
    z-index: 1;
    transition: all 0.3s ease 0s;
}

.category_button.collapsed:before {
    content: "\f067";
    background: #ff9d2e;
    color: #fff;
    border: 1px solid #ff9d2e;
}

#accordion5 .panel-body {
    padding: 10px 27px 0;
    margin: 0 0 0 30px;
    border: none;
    font-size: 14px;
    color: #333;
    line-height: 28px;
    position: relative;
}

#accordion5 .panel-body:before {
    content: "";
    display: block;
    width: 3px;
    height: 95%;
    background: #ff9d2e;
    position: absolute;
    top: 0;
    right: 15px;
}

.border-bottom {
    border-bottom: 1px solid #bfbfbf;
}

.border-right {
    border-right: 2px solid #ff9d2e;
}

.category-main-text-link:link {
    font-size: 14.5px;
    color: #444444;
    text-decoration: none;
}

.category-main-text:link {
    font-size: 14.5px;
    color: #444444;
    text-decoration: none;
}

.category-main-text,
.category-main-text:hover {
    font-size: 14.5px;
    color: #444444;
    text-decoration: none;
}

@media(max-width:780px) {
    .margin-about-right {
        margin-right: 1%;
    }
}

@media(min-width:1440px) {
    .header-image {
        width: 100%;
    }
}

@media(min-width:1800px) {
    .pin-parent {
        width: 1200px;
        margin: 50px auto;
    }
    .sign-parent {
        width: 1200px;
        margin: 30px auto;
    }
    header {
        width: 1200px;
        margin: 0px auto;
    }
    .display {
        display: inline;
    }
    .nav-mag-scroll {
        margin-top: 0 !important;
        position: absolute !important;
        top: 65px !important;
        width: 1200px;
        padding-right: 0;
        margin-right: 0;
        display: none;
    }
    .scroll-div {
        width: 1200px;
        margin: 0px 20%;
    }
}

@media(min-width:2300px) {
    .scroll-div {
        width: 1200px;
        margin: 0px 30%;
    }
}

@media(min-width:2600px) {
    .scroll-div {
        width: 1200px;
        margin: 0px 30%;
    }
}

@media(min-width:3000px) {
    .scroll-div {
        width: 1200px;
        margin: 0px 35%;
    }
}

@media(min-width:3300px) {
    .scroll-div {
        width: 1200px;
        margin: 0px 40%;
    }
}

.modal.right .modal-dialog {
    position: fixed;
    top: 0;
    margin: auto;
    width: 200px;
    height: 100%;
    -webkit-transform: translate3d(0%, 0, 0);
    -ms-transform: translate3d(0%, 0, 0);
    -o-transform: translate3d(0%, 0, 0);
    transform: translate3d(0%, 0, 0);
}

.modal.left .modal-content,
.modal.right .modal-content {
    height: 100%;
    overflow-y: auto;
}


/*Right*/

.modal.right.fade .modal-dialog {
    left: 58.8%;
    -webkit-transition: opacity 0.3s linear, right 0.3s ease-out;
    -moz-transition: opacity 0.3s linear, right 0.3s ease-out;
    -o-transition: opacity 0.3s linear, right 0.3s ease-out;
    transition: opacity 0.3s linear, right 0.3s ease-out;
}

@media(min-width:300px) {
    .modal.right.fade .modal-dialog {
        width: 87%;
        left: 50px;
        -webkit-transition: opacity 0.3s linear, right 0.3s ease-out;
        -moz-transition: opacity 0.3s linear, right 0.3s ease-out;
        -o-transition: opacity 0.3s linear, right 0.3s ease-out;
        transition: opacity 0.3s linear, right 0.3s ease-out;
    }
}

@media(min-width:400px) {
    .modal.right.fade .modal-dialog {
        width: 60%;
        left: 170px;
        -webkit-transition: opacity 0.3s linear, right 0.3s ease-out;
        -moz-transition: opacity 0.3s linear, right 0.3s ease-out;
        -o-transition: opacity 0.3s linear, right 0.3s ease-out;
        transition: opacity 0.3s linear, right 0.3s ease-out;
    }
}

@media(min-width:425px) {
    .modal.right.fade .modal-dialog {
        width: 60%;
        left: 180px;
        -webkit-transition: opacity 0.3s linear, right 0.3s ease-out;
        -moz-transition: opacity 0.3s linear, right 0.3s ease-out;
        -o-transition: opacity 0.3s linear, right 0.3s ease-out;
        transition: opacity 0.3s linear, right 0.3s ease-out;
    }
}

@media(min-width:460px) {
    .modal.right.fade .modal-dialog {
        width: 200px;
        left: 57%;
        -webkit-transition: opacity 0.3s linear, right 0.3s ease-out;
        -moz-transition: opacity 0.3s linear, right 0.3s ease-out;
        -o-transition: opacity 0.3s linear, right 0.3s ease-out;
        transition: opacity 0.3s linear, right 0.3s ease-out;
    }
}

@media(min-width:500px) {
    .modal.right.fade .modal-dialog {
        left: 60.5%;
        -webkit-transition: opacity 0.3s linear, right 0.3s ease-out;
        -moz-transition: opacity 0.3s linear, right 0.3s ease-out;
        -o-transition: opacity 0.3s linear, right 0.3s ease-out;
        transition: opacity 0.3s linear, right 0.3s ease-out;
    }
}

@media(min-width:525px) {
    .modal.right.fade .modal-dialog {
        left: 62.5%;
        -webkit-transition: opacity 0.3s linear, right 0.3s ease-out;
        -moz-transition: opacity 0.3s linear, right 0.3s ease-out;
        -o-transition: opacity 0.3s linear, right 0.3s ease-out;
        transition: opacity 0.3s linear, right 0.3s ease-out;
    }
}

@media(min-width:550px) {
    .modal.right.fade .modal-dialog {
        left: 64%;
        -webkit-transition: opacity 0.3s linear, right 0.3s ease-out;
        -moz-transition: opacity 0.3s linear, right 0.3s ease-out;
        -o-transition: opacity 0.3s linear, right 0.3s ease-out;
        transition: opacity 0.3s linear, right 0.3s ease-out;
    }
}

@media(min-width:570px) {
    .modal.right.fade .modal-dialog {
        left: 65.5%;
        -webkit-transition: opacity 0.3s linear, right 0.3s ease-out;
        -moz-transition: opacity 0.3s linear, right 0.3s ease-out;
        -o-transition: opacity 0.3s linear, right 0.3s ease-out;
        transition: opacity 0.3s linear, right 0.3s ease-out;
    }
}

@media(min-width:600px) {
    .modal.right.fade .modal-dialog {
        left: 67.5%;
        -webkit-transition: opacity 0.3s linear, right 0.3s ease-out;
        -moz-transition: opacity 0.3s linear, right 0.3s ease-out;
        -o-transition: opacity 0.3s linear, right 0.3s ease-out;
        transition: opacity 0.3s linear, right 0.3s ease-out;
    }
}

@media(min-width:624px) {
    .modal.right.fade .modal-dialog {
        left: 68%;
        -webkit-transition: opacity 0.3s linear, right 0.3s ease-out;
        -moz-transition: opacity 0.3s linear, right 0.3s ease-out;
        -o-transition: opacity 0.3s linear, right 0.3s ease-out;
        transition: opacity 0.3s linear, right 0.3s ease-out;
    }
}

@media(min-width:644px) {
    .modal.right.fade .modal-dialog {
        left: 69%;
        -webkit-transition: opacity 0.3s linear, right 0.3s ease-out;
        -moz-transition: opacity 0.3s linear, right 0.3s ease-out;
        -o-transition: opacity 0.3s linear, right 0.3s ease-out;
        transition: opacity 0.3s linear, right 0.3s ease-out;
    }
}

@media(min-width:670px) {
    .modal.right.fade .modal-dialog {
        left: 70.5%;
        -webkit-transition: opacity 0.3s linear, right 0.3s ease-out;
        -moz-transition: opacity 0.3s linear, right 0.3s ease-out;
        -o-transition: opacity 0.3s linear, right 0.3s ease-out;
        transition: opacity 0.3s linear, right 0.3s ease-out;
    }
}

@media(min-width:690px) {
    .modal.right.fade .modal-dialog {
        left: 71.5%;
        -webkit-transition: opacity 0.3s linear, right 0.3s ease-out;
        -moz-transition: opacity 0.3s linear, right 0.3s ease-out;
        -o-transition: opacity 0.3s linear, right 0.3s ease-out;
        transition: opacity 0.3s linear, right 0.3s ease-out;
    }
}

@media(min-width:690px) {
    .modal.right.fade .modal-dialog {
        left: 71.5%;
        -webkit-transition: opacity 0.3s linear, right 0.3s ease-out;
        -moz-transition: opacity 0.3s linear, right 0.3s ease-out;
        -o-transition: opacity 0.3s linear, right 0.3s ease-out;
        transition: opacity 0.3s linear, right 0.3s ease-out;
    }
}

@media(min-width:715px) {
    .modal.right.fade .modal-dialog {
        left: 73%;
        -webkit-transition: opacity 0.3s linear, right 0.3s ease-out;
        -moz-transition: opacity 0.3s linear, right 0.3s ease-out;
        -o-transition: opacity 0.3s linear, right 0.3s ease-out;
        transition: opacity 0.3s linear, right 0.3s ease-out;
    }
}

@media(min-width:735px) {
    .modal.right.fade .modal-dialog {
        left: 73.5%;
        -webkit-transition: opacity 0.3s linear, right 0.3s ease-out;
        -moz-transition: opacity 0.3s linear, right 0.3s ease-out;
        -o-transition: opacity 0.3s linear, right 0.3s ease-out;
        transition: opacity 0.3s linear, right 0.3s ease-out;
    }
}

@media(min-width:780px) {
    .modal.right.fade .modal-dialog {
        left: 76.5%;
        -webkit-transition: opacity 0.3s linear, right 0.3s ease-out;
        -moz-transition: opacity 0.3s linear, right 0.3s ease-out;
        -o-transition: opacity 0.3s linear, right 0.3s ease-out;
        transition: opacity 0.3s linear, right 0.3s ease-out;
    }
}

.modal.right.fade.in .modal-dialog {
    right: 0;
}


/* ----- MODAL STYLE ----- */

.modal-content {
    border-radius: 0;
    border: none;
}

@media(max-width:767px) {}

.mod1 {}

@media(min-width:767px) {
    .modal-backdrop.show {
        opacity: 0;
    }
    body.modal-open {
        overflow: auto;
    }
    .modal-backdrop {
        z-index: -10;
    }
}

@media(max-width:313px) {
    .custome-margin-right {
        padding-right: 8px !important;
    }
    .custom-width {
        width: 15px !important;
        flex: 0 0 15.666667%;
        max-width: 16.666667%;
    }
    .row .col-10 .text-secondary {
        line-height: 22px;
    }
    .explain-about-page {
        word-spacing: -2px;
        text-align: right;
    }
}

@media(max-width:320px) {
    .custome-margin-right {
        margin-right: 1% !important;
        padding-right: 8px !important;
    }
    .row .col-10 .text-secondary {
        line-height: 22px;
    }
    .explain-about-page {
        word-spacing: 0px;
        text-align: right;
    }
}

@media(max-width:375px) {
    .custome-margin-right {
        margin-right: 19px !important;
    }
    .row .col-10 .text-secondary {
        line-height: 22px;
    }
    .explain-about-page {
        word-spacing: -1px;
        text-align: right;
    }
}

@media(min-width:375px) {
    .custome-margin-right {
        margin-right: 19px !important;
    }
}

@media(min-width:425px) {
    .custome-margin-right {
        margin-right: 1.5% !important;
    }
}

@media(min-width:500px) {
    .custome-margin-right {
        padding-right: 0px !important;
        margin-right: 0px !important;
    }
}

@media(min-width:565px) {
    .custome-margin-right {
        padding-right: 0px !important;
        margin-right: -10px !important;
    }
}

@media(min-width:575px) {
    .custome-margin-right {
        padding-right: 5px !important;
        margin-right: 19px !important;
    }
}

@media(min-width:705px) {
    .custome-margin-right {
        padding-right: 5px !important;
        margin-right: 10px !important;
    }
}

@media(min-width:768px) {
    .custome-margin-right {
        padding-right: 10px !important;
        margin-right: 30px !important;
    }
}

@media(min-width:850px) {
    .custome-margin-right {
        padding-right: 10px !important;
        margin-right: 25px !important;
    }
}

@media(min-width:1024px) {
    .custome-margin-right {
        padding-right: 10px !important;
        margin-right: 20px !important;
    }
}

@media(min-width:1200px) {
    .custome-margin-right {
        padding-right: 10px !important;
        margin-right: 15px !important;
    }
}

@media(min-width:1250px) {
    .custome-margin-right {
        padding-right: 10px !important;
        margin-right: 10px !important;
    }
}

@media(min-width:1320px) {
    .custome-margin-right {
        padding-right: 10px !important;
        margin-right: 9px !important;
    }
}

@media(min-width:1440px) {
    .custome-margin-right {
        padding-right: 10px !important;
        margin-right: 0px !important;
    }
}

@media(min-width:1640px) {
    .custome-margin-right {
        padding-right: 10px !important;
        margin-right: 15px !important;
    }
}


/* Footer */

footer {
    font-family: ' BYekan';
    bottom: 0;
    width: 100%;
    height: 270px;
}

@media (max-width:767px) {
    .footer {
        height: 570px;
    }
}

@media (min-width: 767px) {
    .footer {
        height: 300px;
    }
}


/* Sticky footer style and color
-------------------------------------------------- */

footer {
    font-size: 14px !important;
    font-family: vazir !important;
    padding-top: 30px;
    background-color: #F3F2F2;
    color: #444444;
}

footer a {
    color: #444444;
    text-decoration: none;
}

footer a:hover,
footer a:focus {
    transition-duration: 0.1s;
    color: #0073b1;
    text-decoration: none;
    border-bottom: 1px solid #0073b1;
}

footer .form-control {
    background-color: #fdfdfd;
    outline: 1px solid rgb(207, 207, 207);
    border-radius: 5px;
    box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.1);
    border: none;
    resize: none;
    color: #444444;
    padding: 0.7em 1em;
}

footer .form-group {
    margin-bottom: 25px;
}

footer .icon_footer img {
    width: 36px;
    height: 36px;
}

footer .icon_footer {
    font-weight: bold;
    font-size: 16px !important;
    direction: rtl;
    margin-bottom: 20px;
}

footer .copyright {
    direction: rtl;
    margin-top: 15px;
    font-size: 12px;
    color: #757575;
}

footer .copyright p {
    margin-bottom: 8px !important;
    padding-bottom: 8px !important;
}

footer .copyright a {
    font-size: 12px;
    color: #757575;
}

footer .copyright a:hover {
    color: #0073b1;
}

.footer textarea,
.footer button,
.footer input {
    font-family: vazir !important;
    text-align: right;
    font-size: 14px;
}

.footer .btn {
    background-color: #0073b1;
    color: white;
}

.footer .nav-link {
    color: #0073b1;
    transition: all 0.3s;
    cursor: pointer;
}

footer .social_media {
    font-size: 15px;
}

footer .social_media h5 {
    font-size: 18px;
}

.footer .nav-link:hover {
    color: #ff9d2e;
}

footer fieldset .btn:hover {
    background-color: #ff9d2e;
}

.logo-image-signup {
    max-width: 65px;
}

.logo-image-signup-footer {
    max-width: 25px;
}

.webName-signup {
    margin-right: -12px;
    font-weight: bold;
}

.webName-signup-footer {
    margin-right: -5px;
    font-weight: bold;
    font-size: 12px;
}

.text-color-custom {
    color: #a80101;
}

.font-size-customize-sign {
    font-size: 14px;
}

.form-control {
    border-color: #535353;
    transition: all 0.1s;
    outline: none !important;
}

.form-control:focus {
    border: 2px solid #424242;
    transition: all 0.1s;
    outline: none !important;
}

textarea:focus,
textarea.form-control:focus,
input.form-control:focus,
input[type=text]:focus,
input[type=password]:focus,
input[type=email]:focus,
input[type=number]:focus,
[type=text].form-control:focus,
[type=password].form-control:focus,
[type=email].form-control:focus,
[type=tel].form-control:focus,
[contenteditable].form-control:focus {
    box-shadow: inset 0 -1px 0 #ddd;
}

.border-radius-form-sign {
    border-radius: 10px;
}

.font-size-footer-sign {
    font-size: 12px;
}